<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.springboot.bookstore.dao.BookDao">
	<resultMap id="BaseResultMap" type="org.springboot.bookstore.domain.Book">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="writer" property="writer" />
		<result column="introduction" property="introduction" />
	</resultMap>

	<insert id="insert" parameterType="Book" >
        insert into book
        (name, writer, introduction)
         values
         (
         #{name,jdbcType=VARCHAR},
         #{writer,jdbcType=VARCHAR},
         #{introduction,jdbcType=VARCHAR}
         )
    </insert>

	<delete id="delete" parameterType="Book">
		delete
		from
		book
		where id = #{id}
	</delete>

	<update id="update" parameterType="Book">
		update
		book
		set id = #{id},name = #{name},writer = #{writer},introduction = #{introduction}
		where id = #{id}
	</update>

	<select id="findById" resultType="Book">
        select id, name, writer, introduction from book where id = #{id}
    </select>

	<select id="findAll" resultType="Book">
        select * from book
    </select>
</mapper>
